/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgb(146, 146, 146);
  
}

/* Header */
.chat-header {
  display: flex;
  align-items: center;
  background-color: #075e54;
  color: white;
  padding: 0.5rem;
}

.contact-info {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  margin-right: 1rem;
}

.contact-name {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Chat body */
.chat-body {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #dcf8c6;
}

.message {
  max-width: 60%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  position: relative;
  font-size: 1rem;
}

.message.sent {
  background-color: #64915c;
  align-self: flex-end;
}

.message.received {
  background-color: #f5f5f5;
  align-self: flex-start;
}

.timestamp {
  display: block;
  font-size: 0.75rem;
  color: gray;
  text-align: right;
  margin-top: 0.2rem;
}

/* Footer */
.chat-footer {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #f5f5f5;
}

.message-input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.send-button {
  background-color: #075e54;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
}

.send-button:hover {
  background-color: #128c7e;
}
